.aboutImage{
    height: 500px;
    
        img{
            height: 500px;
            width: 90%;   
        }
}

.about-right{
    h1{
        color: lightgrey;
        font-weight: bold;
        font-size: 400%;
        margin-bottom: 10%;
    }

}